<h1><span data-i18n="skills.my_skills">About</span></h1>

<div>
    
## Work Experience
* Field Service Engineer at <a href="http://www.in-a-tick.com.au">In-A-Tick of Cabrini Health/Technology</a> <b>(2018.03 - 2019.03)</b> <br> Calibration of
* Internship at<a href="https://www.polymtl.ca"> École Polytechnique de Montréal</a> and <a href="https://www.chusj.org/Home"> Chu Sainte-Justine Hospital and Research Centre</a>, Canada, <b>(2017.01 - 2017.05)</b> <br> Research
* Retail Assistant at Melbourne Stadiums Limited, <b>(2014.02 - 2016.12)</b>
* Retail/Stockroom Assistant at Nappyland Pty Ltd, <b>(2013.12 - 2017.01)</b>

## Education

* Master of Engineering Management (Majoring in Project Management) <br> <a href="https://unimelb.edu.au"> University of Melbourne</a>, Melbourne, <b>(2019.03 - 2019.12)</b>
* Bachelor of Biomedical Engineering (Honours) <br> <a href="https://www.rmit.edu.au"> RMIT University</a>, Melbourne, <b>(2014.03 - 2017.12)</b>
* Salesian College Chadstone <br> High School, <b>(2008 - 2013)</b>


## Certificates/Achievements

* Introduction to Microsoft Excel at 365DataScience: <a href="{{ site.certificate1 }}"> Here!</a>
* Advanced Microsoft Excel at 365DataScience: <a href="{{ site.certificate2 }}"> Here! </a>

## How to Find Me!
* Follow me on <a href= "https://www.linkedin.com/in/joshua-ngo-412543124/"> LinkedIn!</a>
<br>
<br>
<p style="text-align:center;">updated on 12.04.2020</p>

    
</div>
